<div class="card">
	<div class="card-body">
		<h4 class="card-title">Reach Blackwater Gap in 5 days</h4>
		<p class="card-text">Walk 20 miles to black water gap by 10/25/17</p>
		<button class="btn btn-success">Mark Complete</button>
		<button class="btn btn-danger">Delete Goal</button>
	</div>
</div>