<div class="card">
	<div class="progress card-img-top">
		<div id="main-progbar" class="progress-bar" role="progress-bar" style="width: 0%; height: 50px;"></div>
	</div>
	<div class="card-body">
		<h2 class="card-title"><b id="prog-total-mi">--</b> / <small class="text-muted">2174.6</small> mi walked!</h2>
		<p class="card-text">Keep it up!</p>
	</div>
</div>