<h4>My Goals:</h4>

<div class="goalButtons">
	<button id="newGoalBtn" data-state="visible" class="btn btn-outline-primary">
		SET A GOAL
	</button>
	<button id="hideComplete" class="btn btn-outline-info">
		HIDE COMPLETED
	</button>
</div>

<div id="goalContainer">
	<!-- Spinner -->
	<div class="loading"></div>
</div>