<div id="goalContainer">
	{{#each goals}}
	<div class="card" data-id="{{goalId}}">
		<div class="card-body">
			<h4 class="card-title">{{titleText}}</h4>
			<p class="card-text">{{bodyText}}</p>
			{{#if complete}}
			<div class="alert alert-success" role="alert">
				Complete
			</div>
			{{else}}
			<button class="btn btn-success complete-goal">Mark Complete</button>
			<button class="btn btn-danger delete-goal">Delete Goal</button>
			{{/if}}
		</div>
	</div>
	{{/each}}
</div>