<div class="row justify-content-center">
	<div class="col-lg-6 col-md-8">
		<div class="card">
			<div class="progress card-img-top">
				<div class="progress-bar" role="progress-bar" style="width: 0%; height: 50px;"></div>
			</div>
			<div class="card-body">
				<h2 class="card-title"><b>--</b> / <small class="text-muted">2174.6</small> mi walked!</h2>
				<p class="card-text">Keep it up!</p>
			</div>
		</div>
	</div>
</div>