<section class="row about-section">
	<div class="col-md-6">
	<article>
		<img class="img-fluid mx-auto d-block" alt="map icon" src="images/map_icon.png">
		<h4>Walk the AT (virtually) in 1 year</h4>
		<p>ThruHikers on the Appalachian trail typically spend 6 to 9 months walking 10 to 20 miles/day to get to the end before winter sets in. They carry food, shelter, and supplies, sleeping in shelters, hostels and tents along the way.</p>
		<p>If you dream of what it would be like to go on this adventure or just want to walk more every day, Virtual Thru Hiker is for you.</p>
	</article>
	</div>
	<div class="col-md-6">
		<img class="img-fluid mx-auto d-block" alt="Google fit icon" src="images/fit_logo.png">
		<article class="">
			<h4>How Does It Work?</h4>
			<p>You must install <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.fitness&hl=en">Google Fit</a> on your android mobile device. Google Fit provides our app with your walking data so you can keep track of your progress. We also recommend that you pair Google Fit with your fitbit or a similar device for a more accurate experience.</p>
			<p>Set challenge goals for yourself within Virtual Thru Hiker and walk more each day to meet them.</p>
			<p>Just by walking the recommended 10,000 steps (6 mi) every day, you can complete the entire 2100 mile journey from Georgia to Maine in just 1 year!</p>
		</article>
	</div>
</section>