<header class="jumbotron-fluid jumbotron">
	<!-- App name, short subhead descript -->
	<section>
		<h1 class="display-2">Virtual Thru Hiker</h1>
		
		<p class="lead">Walk the AT anywhere</p>
	</section>

</header>