<section class="row container">
	<a class="anchor" id="contact"></a>
	<article class="contact col-12">
		<h2>Questions? Feedback?</h2>
		<h2>Contact VTH</h2>
		<form>
			<div class="form-group">
				<label for="contactEmail">Your Email Address:</label>
				<input type="email" class="form-control" name="contact-email" id="contactEmail" placeholder="example@example.com">
			</div>
			<div class="form-group">
				<label for="feedbackText">Questions, Feedback, or just say hello:</label>
				<textarea id="feedbackText" class="form-control" row="3" placeholder="Feedback"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</article>
</section>