<section class="row">
	<div class="col-sm-6">
		<img class="img-fluid" src="https://images.pexels.com/photos/571150/pexels-photo-571150.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
		<article class="">
			<h2>What's Virtual Thru Hiker?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec vestibulum sapien. Duis vestibulum ullamcorper metus, quis sagittis ex laoreet ut. Fusce sed libero nisi. Vestibulum placerat, justo a tristique elementum, magna arcu euismod arcu, nec maximus diam nulla posuere nulla.</p>
		</article>
	</div>
	<div class="col-sm-6">
		<img class="img-fluid" src="https://images.pexels.com/photos/167706/pexels-photo-167706.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
		<article class="">
			<h2>How Does It Work?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec vestibulum sapien. Duis vestibulum ullamcorper metus, quis sagittis ex laoreet ut. Fusce sed libero nisi. Vestibulum placerat, justo a tristique elementum, magna arcu euismod arcu, nec maximus diam nulla posuere nulla.</p>
		</article>
	</div>
</section>