<section class="row get-started container" id="start">
	<h2 class="display-4">GETING STARTED</h2>
	<article>
		<h4 class="display-5">STEP 1</h4>
		<h4><small class="text-muted">Install Google Fit on your device</small></h4>
		<a href='https://play.google.com/store/apps/details?id=com.google.android.apps.fitness&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' class="google-login-link"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
	</article>
	<article>
		<h4 class="display-5">STEP 2</h4>
		<h4><small class="text-muted">Log into the Virtual Thru Hiker app with Google</small></h4>
		<a href="/auth/google" class="google-login-link"><img src="images/btn_google_signin_dark.png"></a>
	</article>
	<article>
		<h4 class="display-5">STEP 3</h4>
		<h4 class="display-4">Start walking!</h4>
	</article>
</section>