@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
$titleFont: 'Permanent Marker', cursive;

.navbar-brand{
	font-family: $titleFont;
}
/* Full height header image on landing page */
header {
	background-image: url('../images/title-img.jpeg');
	background-size: cover;
	
	min-height: 100vh;
	padding-top: 10em;

	/* Text area within header image */
	section{
		width: 100%;
		padding: 5%;
		background-color: rgba(0,0,0,0.3);
		color: white;

		h1 {
			font-family: $titleFont;
		}
	}
}


main {
	section {
		margin-bottom: 100px;
	}

	/* Instructions section */
	.get-started{
		display: flex;
		flex-direction: column;
		align-items: center;

		article {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 4em;
		}
	}
	
	/* Google badges */
	.google-login-link {
		cursor: pointer;

		img {
			max-width: 300px;
			max-height: 100px;
		}
	}
}

/* Info about the app w/ image icons */
.about-section {
	img {
		width: 190px;
		height: auto;
	}

	p {
		text-align: justify;
	}
}

/* bookmark anchors */
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}