<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	{{> common_import}}

	<link rel="stylesheet" href="styles/main.css">
	<!--<script src="javascript/app.js"></script>-->
</head>
<body>
	{{> home_nav}}
	{{> home_jumbotron}}
	<main class="container">
		{{> home_signin_button}}
		{{> home_about}}
		{{> home_contact_form}}
	</main>
	{{> home_footer}}
</body>
</html>