header {
  background-image: url("../images/title-img.jpeg");
  background-size: cover;
  height: 30em;
  padding-top: 10em; }
  header section {
    height: 100%;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white; }

main section {
  margin-bottom: 100px; }

main .get-started {
  display: flex;
  flex-direction: column;
  align-items: center; }

main .google-login-link {
  cursor: pointer; }
  main .google-login-link img {
    max-width: 300px; }
